.orange-bar {
    border-bottom: 1px solid hsl(13, 100%, 65%);
}

.container {
    max-width: 75rem;
    display: block;
    margin: 0 auto;
    padding: 0 2em;
}

.header {
    display: flex;
    padding: 10em 0;
    justify-content: center;
    background: url(../img/01.png) no-repeat;
    background-color: #2b2b2b;
    background-size: cover;
}

.header img {
    width: 70%;
}

.header p {
    padding: 2em 0;
    line-height: 2;
    font-family: var(--font-primary);
}

@mixin layout--400() {
}

@mixin layout--700() {
    .header p {
        font-size: 1.2rem;
        max-width: 60%;
    }
}

@mixin layout--1080() {
    .header p {
        font-size: 1.44rem;
        max-width: 50%;
    }
}
