:root {
  --clr-light: hsl(14, 76%, 97%);
  --clr-accent: hsl(13, 100%, 65%);
  --clr-primary: hsl(0, 0%, 15%);
  --font-primary: "Open Sans", sans-serif;
  --font-light: 300;
  --font-bold: 600;
}

/* Box sizing rules */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Remove default margin */
body,
html,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
}

::-moz-selection {
  background-color: #101820ff;
  color: #f95700;
}

::selection {
  background-color: #101820ff;
  color: #f95700;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

ul {
  padding-left: 0;
}

html {
  font-size: 16px;
  min-height: 100%;
  scroll-behavior: smooth;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
html,
body {
  height: 100%;
  width: 100%;
}

body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  min-height: 100%;
  background: url(/img/daimond_overlay_test.png);
  background-color: #262626;
  color: #fdf3f0;
}

.text-shadow {
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.07), 0 2px 4px rgba(0, 0, 0, 0.07), 0 4px 8px rgba(0, 0, 0, 0.07), 0 8px 16px rgba(0, 0, 0, 0.07), 0 16px 32px rgba(0, 0, 0, 0.07), 0 32px 64px rgba(0, 0, 0, 0.07);
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

a {
  font-family: "Open Sans", sans-serif;
  text-decoration: none;
  color: #fdf3f0;
  -webkit-transition: ease-in 0.3s;
  transition: ease-in 0.3s;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

.button {
  padding: 0.5em 1em;
  display: inline;
  border: 1px solid var(--clr-accent);
  font-family: var(--font-primary);
  font-size: 0.833rem;
  text-transform: uppercase;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.07), 0 2px 4px rgba(0, 0, 0, 0.07), 0 4px 8px rgba(0, 0, 0, 0.07), 0 8px 16px rgba(0, 0, 0, 0.07), 0 16px 32px rgba(0, 0, 0, 0.07), 0 32px 64px rgba(0, 0, 0, 0.07);
}

.button:hover {
  background-color: rgba(255, 115, 77, 0.493);
}

body {
  overflow-x: hidden;
}

.nav {
  background: url(../img/daimond_overlay_test.png);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2em 0;
  display: none;
}

.nav .logo img {
  width: 150px;
}

.nav__navlist {
  position: absolute;
  right: 0;
  height: 100%;
  width: 50%;
  top: 7.5%;
  padding-top: 2em;
  background-color: var(--clr-primary);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: translate(100%);
          transform: translate(100%);
  -webkit-transition: -webkit-transform 0.5s ease-in;
  transition: -webkit-transform 0.5s ease-in;
  transition: transform 0.5s ease-in;
  transition: transform 0.5s ease-in, -webkit-transform 0.5s ease-in;
}

.nav__navlist li {
  opacity: 1;
}

.nav__navlist li + li {
  margin-top: 2em;
  margin-left: 0;
}

.nav__navlist-item a {
  font-family: var(--font-primary);
  font-weight: var(--font-bold);
  text-transform: uppercase;
  letter-spacing: 1;
}

.nav__navlist-item a:hover {
  color: var(--clr-accent);
}

.hamburger {
  display: block;
  cursor: pointer;
}

.hamburger div {
  width: 25px;
  height: 2px;
  background-color: white;
  margin: 5px;
}

.nav-active {
  -webkit-transform: translate(0%);
          transform: translate(0%);
}

@-webkit-keyframes navLinkFade {
  from {
    opacity: 0;
    -webkit-transform: traslatex(50px);
            transform: traslatex(50px);
  }
  to {
    opacity: 1;
    -webkit-transform: traslatex(0px);
            transform: traslatex(0px);
  }
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    -webkit-transform: traslatex(50px);
            transform: traslatex(50px);
  }
  to {
    opacity: 1;
    -webkit-transform: traslatex(0px);
            transform: traslatex(0px);
  }
}
.orange-bar {
  border-bottom: 1px solid #ff734d;
}

.container {
  max-width: 75rem;
  display: block;
  margin: 0 auto;
  padding: 0 2em;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10em 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: url(../img/01.png) no-repeat;
  background-color: #2b2b2b;
  background-size: cover;
}

.header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header img {
  width: 70%;
}

.header p {
  padding: 2em 0;
  line-height: 2;
  text-align: center;
  font-family: var(--font-primary);
  max-width: 90%;
}

.service {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 5em 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.service__title {
  font-family: var(--font-primary);
  font-weight: var(--font-bold);
  border-left: 1px solid #ff754f;
  padding-left: 10px;
  line-height: 0.75em;
  font-size: 1.44rem;
  text-transform: uppercase;
}

.service__description {
  font-size: 0.694rem;
  font-family: var(--font-primary);
  font-weight: var(--font-light);
  padding: 2em 0;
  line-height: 2;
  max-width: 70%;
}

.service__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 100%;
}

.card-item {
  padding: 3em 2em;
  background-color: #2b2b2b;
  margin: 1em 0;
  border-radius: 10px;
}

.card-item:nth-child(1) {
  background: url(/img/aris.png) no-repeat;
  background-color: #2b2b2b;
  background-position: center right;
  -webkit-transition: 0.5s ease-out;
  transition: 0.5s ease-out;
}

.card-item:nth-child(1):hover {
  background: url(/img/aris_hover.png) no-repeat;
  background-position: center right;
  background-color: #2b2b2b;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.card-item:nth-child(2) {
  background: url(/img/minty.png) no-repeat;
  background-color: #2b2b2b;
  background-position: center right;
  -webkit-transition: 0.5s ease-out;
  transition: 0.5s ease-out;
}

.card-item:nth-child(2):hover {
  background: url(/img/minty_hover.png) no-repeat;
  background-position: center right;
  background-color: #2b2b2b;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.card-item:nth-child(3) {
  background: url(/img/minami.png) no-repeat;
  background-color: #2b2b2b;
  background-position: center right;
  -webkit-transition: 0.5s ease-out;
  transition: 0.5s ease-out;
}

.card-item:nth-child(3):hover {
  background: url(/img/minami_hover.png) no-repeat;
  background-position: center right;
  background-color: #2b2b2b;
  -webkit-transition: 0.5s ease-in;
  transition: 0.5s ease-in;
}

.card-item h1 {
  font-family: var(--font-primary);
  font-weight: var(--font-light);
  border-left: 1px solid #ff754f;
  line-height: 0.75em;
  padding-left: 10px;
  font-size: 1.2rem;
}

.card-item p {
  padding: 3em 0;
  max-width: 80%;
  font-family: var(--font-primary);
  font-weight: var(--font-light);
  line-height: 2;
  font-size: 0.694rem;
}

.works {
  padding: 5em 0;
}

.works h1 {
  font-family: var(--font-primary);
  font-weight: var(--font-bold);
  border-left: 1px solid #ff754f;
  line-height: 0.75em;
  font-size: 1.44rem;
  text-transform: uppercase;
  padding-left: 10px;
}

.works p {
  font-size: 0.694rem;
  font-family: var(--font-primary);
  font-weight: var(--font-light);
  padding: 2em 0;
  line-height: 2;
  max-width: 70%;
}

.works__gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 2em;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #2b2b2b;
  background-position: center right;
  border-radius: 10px;
}

.works-item {
  padding: 1em 0;
}

.works-item img {
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07), 0 2px 4px rgba(0, 0, 0, 0.07), 0 4px 8px rgba(0, 0, 0, 0.07), 0 8px 16px rgba(0, 0, 0, 0.07), 0 16px 32px rgba(0, 0, 0, 0.07), 0 32px 64px rgba(0, 0, 0, 0.07);
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07), 0 2px 4px rgba(0, 0, 0, 0.07), 0 4px 8px rgba(0, 0, 0, 0.07), 0 8px 16px rgba(0, 0, 0, 0.07), 0 16px 32px rgba(0, 0, 0, 0.07), 0 32px 64px rgba(0, 0, 0, 0.07);
}

.process {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 5em 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.process h1 {
  font-family: var(--font-primary);
  font-weight: var(--font-bold);
  border-left: 1px solid #ff754f;
  line-height: 0.75em;
  font-size: 1.44rem;
  text-transform: uppercase;
  padding-left: 10px;
}

.process p {
  font-size: 0.694rem;
  font-family: var(--font-primary);
  font-weight: var(--font-light);
  padding: 2em 0;
  line-height: 2;
  max-width: 70%;
}

.process__content {
  padding: 3em;
  background: url(/img/aris_process.png) no-repeat;
  background-color: #2b2b2b;
  background-size: 100%;
  background-position: center center;
  border-radius: 10px;
  max-width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.process__content-item h2 {
  font-family: var(--font-primary);
  font-weight: var(--font-light);
  line-height: 0.75em;
  font-size: 1.2rem;
}

.process__content-item p {
  padding: 3em 0;
  max-width: 80%;
  font-family: var(--font-primary);
  font-weight: var(--font-light);
  line-height: 2;
  font-size: 0.694rem;
}

.contact {
  padding: 5em 0;
}

.contact__content h1 {
  font-family: var(--font-primary);
  font-weight: var(--font-bold);
  border-left: 1px solid #ff754f;
  padding-left: 10px;
  line-height: 0.75em;
  font-size: 1.44rem;
  text-transform: uppercase;
}

.contact__content p {
  font-size: 0.694rem;
  font-family: var(--font-primary);
  font-weight: var(--font-light);
  padding: 2em 0;
  line-height: 2;
  max-width: 70%;
}

.contact__list li {
  list-style-type: none;
  margin-top: 0.5em;
}

.contact__list li a {
  font-family: var(--font-primary);
  font-weight: var(--font-light);
}

.contact__list li a:hover {
  color: var(--clr-accent);
}

.footer {
  background: #fdf3f0;
  color: #2b2b2b;
  padding: 4em 0;
}

.footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  font-family: var(--font-primary);
  font-weight: var(--font-light);
  font-size: 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__content img {
  width: 150px;
  height: 150px;
}

.footer__content h3 {
  font-size: 0.833rem;
  font-family: var(--font-primary);
  font-weight: var(--font-light);
}

.footer__list {
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.footer__list li {
  list-style-type: none;
  margin-left: 1em;
  font-weight: var(--font-light);
}

.footer__list li a {
  font-family: var(--font-primary);
  font-weight: var(--font-light);
  color: #2b2b2b;
}

.footer__list li a:hover {
  color: var(--clr-accent);
}

@media screen and (min-width: 700px) {
  .nav__navlist {
    position: relative;
    height: auto;
    width: auto;
    padding-top: 0;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-transform: none;
            transform: none;
  }

  .nav__navlist li {
    opacity: 1;
  }

  .nav__navlist li + li {
    margin-top: 0em;
    margin-left: 1em;
  }

  .hamburger {
    display: none;
  }

  .header p {
    font-size: 1.2rem;
    max-width: 70%;
  }

  .service__description {
    font-size: 1rem;
    width: 60%;
  }

  .service__title {
    font-size: 2.488rem;
  }

  .card-item {
    padding: 3em auto;
    background-color: #2b2b2b;
    margin: 1em 0;
    border-radius: 10px;
    max-width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .card-item h1 {
    font-size: 1.728rem;
  }

  .card-item p {
    max-width: 50%;
    font-size: 1rem;
  }

  .works h1 {
    font-size: 2.488rem;
  }

  .works p {
    font-size: 0.833rem;
    width: 60%;
  }

  .works__gallery {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background: url(/img/minami_showcase.png) no-repeat;
    background-color: #2b2b2b;
    background-position: top 0% left 200px;
    background-size: 60%;
    border-radius: 10px;
    -webkit-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
  }

  .works__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 0.5em;
    padding: 0.1em 0.5em;
  }

  .works-item {
    margin: 0 0.5em;
  }

  .process h1 {
    font-size: 2.488rem;
  }

  .process p {
    font-size: 1rem;
    width: 60%;
  }

  .process__content-item h2 {
    font-size: 1.728rem;
  }

  .process__content-item p {
    max-width: 60%;
    font-size: 1rem;
  }

  .contact__content h1 {
    font-size: 2.488rem;
  }

  .contact__content p {
    max-width: 50%;
    font-size: 1rem;
  }
}
@media screen and (min-width: 1080px) {
  .header p {
    font-size: 1.2rem;
    max-width: 60%;
  }

  .service__description {
    font-size: 1.2rem;
    max-width: 50%;
  }

  .service__title {
    font-size: 2.986rem;
  }

  .service__cards {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }

  .card-item {
    padding: 3em 2em;
    background-color: #2b2b2b;
    border-radius: 10px;
    width: 100%;
  }

  .card-item + .card-item {
    margin-left: 1em;
  }

  .card-item h1 {
    font-size: 1.728rem;
  }

  .card-item p {
    max-width: 90%;
    font-size: 0.833rem;
  }

  .works p {
    font-size: 1.2rem;
    max-width: 50%;
  }

  .works h1 {
    font-size: 2.986rem;
  }

  .works__gallery {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    background: url(/img/minami_showcase.png) no-repeat;
    background-color: #2b2b2b;
    background-position: top 0% left 500px;
    background-size: 50%;
    border-radius: 10px;
    -webkit-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
  }

  .works__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 0.5em;
  }

  .works-item {
    margin: 0 0.5em;
  }

  .process h1 {
    font-size: 2.986rem;
  }

  .process p {
    font-size: 1.2rem;
    max-width: 50%;
  }

  .process__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .process__content-item h2 {
    font-size: 1.728rem;
  }

  .process__content-item p {
    max-width: 90%;
    font-size: 0.833rem;
  }

  .process__content {
    padding: 3em;
    background: url(/img/aris_process_2.png) no-repeat;
    background-color: #2b2b2b;
    background-size: 50%;
    background-position: center right;
  }

  .contact__content h1 {
    font-size: 2.986rem;
  }

  .contact__content p {
    max-width: 50%;
    font-size: 1.2rem;
  }

  .footer__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }

  .footer__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}