@charset "UTF-8";
:root {
  --salmon-color: hsl(15, 100%, 76%);
  --grey-color: hsl(0, 0%, 93%);
  --black-color: hsl(0, 0%, 11%);
  --primary-font: "Open Sans", sans-serif;
  --regular-weight: 300;
  --semibold-weight: 600;
}

/* Box sizing rules */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Remove default margin */
body,
html,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

ul {
  padding-left: 0;
}

ul li {
  list-style: none;
}

html {
  font-size: 16px;
  min-height: 100%;
  scroll-behavior: smooth;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
html,
body {
  height: 100%;
  width: 100%;
}

body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  height: 100vh;
  color: #222;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

a {
  font-family: "Open Sans", sans-serif;
  text-decoration: none;
  -webkit-transition: ease-in 0.3s;
  transition: ease-in 0.3s;
  color: #222;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

.main-nav {
  top: 10%;
  left: 0;
  height: 100vh;
  width: 60%;
  position: absolute;
  background-color: var(--black-color);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.main-nav #main-nav__list {
  margin-top: 5rem;
  margin-left: 5rem;
}

.main-nav__item::after {
  font-family: "Font Awesome 6 Duotone";
  font-weight: 900;
  opacity: 0;
  content: "􏄅";
  color: #ededed;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

a[class=main-nav__item]:hover::after {
  font-family: "Font Awesome 6 Duotone";
  font-weight: 900;
  opacity: 1;
  content: "􏄅";
  color: #ffa385;
  margin-left: 0.5rem;
  cursor: pointer;
}

.main-nav ul li + li {
  margin-top: 0.5rem;
}

.main-nav a {
  color: #ffa385;
  font-family: "Open Sans", sans-serif;
}

.main-nav a:hover {
  color: #ededed;
}

.dropdown-content {
  list-style: none;
  padding: 0;
  margin: 0;
  display: none;
}

.dropdown-content li {
  margin-left: 1rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.dropdown-content li a {
  color: #ededed;
}

.dropdown-content li a:hover {
  color: #ffa385;
}

.active {
  color: #ededed !important;
}

.active::after {
  content: "􏄅";
  margin-left: 0.5rem;
  font-family: "Font Awesome 6 Duotone";
  font-weight: 900;
  color: #ffa385;
  opacity: 1;
}

.language__content {
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ededed;
}

.show {
  display: block;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.show-flex {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.language__content li {
  list-style: none;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.language__content li a {
  color: #ededed;
  text-decoration: none;
  background-color: red;
  padding: 0.3rem;
}

.language__content li a:hover {
  color: #ededed;
}

.social__menu a {
  color: #ededed;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.social__menu a:hover {
  color: #ffa385;
}

.container > :first-child {
  padding-bottom: 5rem;
  padding-top: 2rem;
  background-color: var(--black-color);
  color: var(--grey-color);
  font-family: var(--primary-font);
  position: relative;
}

.container > :last-child {
  background-color: var(--grey-color);
  position: relative;
  z-index: -1;
}

.logo {
  padding-bottom: 3rem;
}

.logo img {
  width: 50%;
  margin: 0 auto;
}

.sidebar__footer {
  display: none;
}

.summary {
  padding-bottom: 2rem;
}

.summary p {
  padding: 0.5rem 1rem;
  margin: 0 auto;
  max-width: 80%;
  line-height: 1.8;
  font-size: 1rem;
  text-align: left;
}

.language__select li a {
  margin: 0 0.5rem;
  color: var(--grey-color);
}

.language__select li a:hover {
  color: var(--salmon-color);
}

.hamburger {
  display: block;
}

.hamburger a {
  color: var(--grey-color);
}

.sidebar__language {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 5rem;
  padding-right: 2rem;
  padding-left: 2rem;
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.featured__content {
  display: -ms-grid;
  display: grid;
  grid-gap: 1rem;
  padding: 4rem;
}

@supports (width: min(30%, 100%)) {
  .featured__content {
    -ms-grid-columns: minmax(min(30%, 100%), 1fr) 1rem minmax(min(30%, 100%), 1fr);
    grid-template-columns: repeat(2, minmax(min(30%, 100%), 1fr));
  }
}
@media screen and (min-width: 1080px) {
  .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-height: 100%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 0;
  }

  .container > :first-child {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -ms-flex-preferred-size: 30%;
        flex-basis: 30%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-bottom: 2rem;
    padding-top: 2;
  }

  .container > :last-child {
    -ms-flex-preferred-size: 0;
        flex-basis: 0;
    -webkit-box-flex: 999;
        -ms-flex-positive: 999;
            flex-grow: 999;
    min-width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0;
    z-index: 0;
  }

  .logo,
.summary,
.main-nav {
    margin: 3rem 5rem;
  }

  .hamburger {
    display: none;
  }

  .language__select {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: 2rem;
    margin-top: 1rem;
    margin-bottom: 5rem;
  }

  .logo {
    width: 45%;
    padding-bottom: 0;
  }

  .logo img {
    width: 100%;
    margin: 0;
  }

  .summary p {
    padding: 0.5rem 0;
    margin: 0;
    max-width: 80%;
    text-align: left;
  }

  .sidebar__language {
    display: block;
    padding: 0;
  }

  .sidebar__footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 1rem;
  }

  .sidebar__footer ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .sidebar__footer ul li {
    list-style: none;
  }

  .sidebar__footer ul li + li {
    margin-left: 1rem;
  }

  .featured__content {
    padding: 0;
  }

  .main-nav {
    display: block;
    top: 10%;
    height: 0;
    width: 100%;
    position: relative;
    background-color: none;
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }

  .main-nav #main-nav__list {
    margin: 0;
  }

  .main-nav ul li {
    list-style: none;
  }

  .dropbtn__content {
    display: none;
  }
}