.termsofservice {
    padding: 5em 0;
}

.termsofservice__content {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(0, 0%, 17%);
    margin: 1em 0;
    padding: 1em;
    border-radius: 10px;
    max-width: 100%;
}

.termsofservice__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.termsofservice__list .list-item:nth-child(2) p:nth-child(1) ~ p {
    padding-top: 2em;
    margin-left: 1em;
    display: block;
}

.accent-color {
    color: #ff754f;
}

.termsofservice__list .list-item p {
    display: inline;
    font-size: 0.833rem;
}

.termsofservice__list .list-item {
    list-style-image: url(/img/paw-claws.svg);
    list-style-position: inside;
    font-size: 0.833rem;
    font-family: var(--font-primary);
    font-weight: var(--font-light);
    width: 80%;
    padding: 2em 0;
}

.termsofservice__list .list-item {
}

@mixin terms--400() {
}

@mixin terms--700() {
}

@mixin terms--1080() {
    .termsofservice__list .list-item p {
        font-size: 1.2em;
        line-height: 2;
        width: 80%;
    }

    .termsofservice__content {
        padding: 3em auto;
        padding: 5em;
    }
}
