@media screen and (min-width: 1080px) {
    .contact {
        max-width: 900px;
        font-size: 1.25em;
        display: flex;
        flex-direction: column;
    }

    .contact h1 {
        padding: 2em;
        text-transform: capitalize;
        text-align: center;
        font-size: 2.441rem;
        font-weight: 300;
    }
    .contact p {
        padding: 1em;
        font-weight: 300;
        max-width: 600px;
    }

    .contact a {
        color: #131313;
        font-size: "Open Sans", sans-serif;
        text-decoration: underline;
    }

    .contact a:hover {
        color: var(--salmon-color);
    }
}
