.Intro {
    order: 2;
    margin: 0 auto;
    display: none;
}

.summary {
    max-width: 600px;
}

.logo img {
    width: 80%;
    justify-content: flex-start;
    margin-bottom: 2em;
    padding: 1em 2em;
}

.summary p {
    padding: 0.7em 2em;
    font-size: 1em;
    max-width: 500px;
    text-align: left;
    margin: 0 auto;
}

@media screen and (min-width: 1080px) {
    .Intro {
        display: flex;
        flex-direction: column;
    }

    .summary p {
        padding: 0.5rem 0;
        margin: 0;
        max-width: 900px;
        width: 80%;
        font-size: 0.9rem;
        text-align: left;
    }

    .logo img {
        width: 100%;
        margin: 0;
        padding: 0;
    }
}
