.Navigation {
    order: 1;
}

.main-nav {
    background-color: hsl(0, 0%, 7%);
    text-align: center;
    position: fixed;
    padding: 1em;
    width: 100%;
    z-index: 999;
}

.main-nav__logo {
    display: block;
}

.main-nav__toggle {
    display: none;
}

.main-nav__label {
    display: inline;
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 1em;
    height: 100%;
    display: flex;
    align-items: center;
}

.main-nav__label:hover {
    cursor: pointer;
}

.main-nav__label span,
.main-nav__label span::after,
.main-nav__label span::before {
    display: block;
    background-color: white;
    height: 2px;
    width: 2em;
    border-radius: 2px;
    position: relative;
}

.main-nav__label span::after,
.main-nav__label span::before {
    content: "";
    position: absolute;
}

.main-nav__label span::before {
    bottom: 7px;
}

.main-nav__label span::after {
    top: 7px;
}

.main-nav__toggle:checked ~ .main-nav__list {
    display: block;
    transform: scale(1, 1);
}

.main-nav__toggle:checked ~ .main-nav__list a {
    opacity: 1;
    transition: opacity 250ms ease-in-out 250ms;
}

.main-nav__list {
    position: absolute;
    padding: 1em 0;
    top: 100%;
    left: 0;
    text-align: left;
    background-color: hsla(0, 0%, 7%, 0.952);
    width: 100%;
    transform: scale(1, 0);
    transform-origin: top;
    transition: transform 400ms ease-in-out;
}

.main-nav__list li {
    margin-left: 1em;
}

.main-nav__list li a {
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    opacity: 0;
    transition: opacity 150ms ease-in-out;
}

.main-nav__list li a:hover {
    color: var(--salmon-color);
}

.main-nav__item::after {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f054";
    opacity: 0;
    color: hsl(0, 0%, 93%);
    transition: all 0.5s ease;
}

a[class="main-nav__item"]:hover::after {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f054";
    opacity: 1;
    color: hsl(0, 0%, 93%);
    margin-left: 0.5rem;
    cursor: pointer;
}

// Helper Styles

.active {
    color: hsl(15, 100%, 76%);
}

.active::after {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f054";
    margin-left: 0.5rem;
    color: hsl(15, 100%, 76%);
    opacity: 1;
}

.showDisplay {
    display: block !important;
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.dropdown_content {
    list-style: none;
    padding-bottom: 1em;
    margin: 0;
}

.dropdown_content li {
    margin-left: 1rem;
}

.dropdown_content li a {
    color: hsl(0, 0%, 93%);
    font-size: 0.8em;
    padding: 0;
    margin: 0;
}

.dropdown_content li a:hover {
    color: hsl(15, 100%, 76%);
}

@media screen and (min-width: 1080px) {
    .Navigation {
        order: 2;
    }

    .main-nav {
        position: static;
        background-color: transparent;
        padding: 0;
    }

    .main-nav__logo {
        display: none;
    }

    .main-nav__toggle {
        display: none;
    }

    .main-nav__label {
        display: none;
    }

    .main-nav__list {
        position: static;
        display: block;
        transform: scale(1, 1);
    }

    .main-nav__list li {
        margin-left: 0;
    }

    .main-nav__list li a {
        opacity: 1;
    }

    .main-nav__item::after {
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        content: "\f054";
        opacity: 0;
        color: hsl(0, 0%, 93%);
        transition: all 0.5s ease;
    }

    a[class="main-nav__item"]:hover::after {
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        content: "\f054";
        opacity: 1;
        color: hsl(0, 0%, 93%);
        margin-left: 0.5rem;
        cursor: pointer;
    }

    .active {
        color: hsl(0, 0%, 93%);
    }

    .active::after {
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        content: "\f054";
        margin-left: 0.5rem;
        color: hsl(15, 100%, 76%);
        opacity: 1;
    }
}
