.service {
    display: flex;
    padding: 5em 0;
    justify-content: center;
}

.service__title {
    font-family: var(--font-primary);
    font-weight: var(--font-bold);
    border-left: 1px solid #ff754f;
    padding-left: 10px;
    line-height: 0.75em;
    font-size: 1.44rem;
}

.service__description {
    font-size: 0.694rem;
    font-family: var(--font-primary);
    font-weight: var(--font-light);
    padding: 2em 0;
    line-height: 2;
    max-width: 100%;
}

.service__cards {
    display: flex;
    flex-direction: column;
    max-width: 100%;
}

.card-item {
    padding: 3em 2em;
    background-color: hsl(0, 0%, 17%);
    margin: 2em 0;
    border-radius: 10px;
}

.card-item:nth-child(1) {
    background: url(/img/aris.png) no-repeat;
    background-color: hsl(0, 0%, 17%);
    background-position: center right;
    transition: 0.5s ease-out;
}

.card-item:nth-child(1):hover {
    background: url(/img/aris_hover.png) no-repeat;
    background-position: center right;
    background-color: hsl(0, 0%, 17%);
    transition: 0.5s ease;
}

.card-item:nth-child(2) {
    background: url(/img/minty.png) no-repeat;
    background-color: hsl(0, 0%, 17%);
    background-position: center right;
    transition: 0.5s ease-out;
}

.card-item:nth-child(2):hover {
    background: url(/img/minty_hover.png) no-repeat;
    background-position: center right;
    background-color: hsl(0, 0%, 17%);
    transition: 0.5s ease;
}

.card-item:nth-child(3) {
    background: url(/img/minami.png) no-repeat;
    background-color: hsl(0, 0%, 17%);
    background-position: center right;
    transition: 0.5s ease-out;
}

.card-item:nth-child(3):hover {
    background: url(/img/minami_hover.png) no-repeat;
    background-position: center right;
    background-color: hsl(0, 0%, 17%);
    transition: 0.5s ease;
}

.card-item h1 {
    font-family: var(--font-primary);
    font-weight: var(--font-light);
    border-left: 1px solid #ff754f;
    line-height: 0.75em;
    padding-left: 10px;
    font-size: 1.2rem;
}

.card-item p {
    padding: 3em 0;
    max-width: 100%;
    font-family: var(--font-primary);
    font-weight: var(--font-light);
    line-height: 2;
    font-size: 0.694rem;
}

@mixin landing--400() {
}

@mixin landing--700() {
    .service__description {
        font-size: 0.833rem;
        width: 60%;
    }

    .service__title {
        font-size: 2.488rem;
    }

    .card-item {
        padding: 3em 2em;
        background-color: hsl(0, 0%, 17%);
        margin: 3em 0;
        border-radius: 10px;
        max-width: 60%;
    }

    .card-item h1 {
        font-size: 1.728rem;
    }

    .card-item p {
        max-width: 70%;
        font-size: 1rem;
    }
}

@mixin landing--1080() {
    .service__description {
        font-size: 1.2rem;
        max-width: 50%;
    }

    .service__title {
        font-size: 2.986rem;
    }

    .service__cards {
        flex-direction: row;
    }

    .card-item {
        padding: 3em 2em;
        background-color: hsl(0, 0%, 17%);
        border-radius: 10px;
        width: 100%;
    }

    .card-item + .card-item {
        margin-left: 1em;
    }

    .card-item h1 {
        font-size: 1.728rem;
    }

    .card-item p {
        max-width: 90%;
        font-size: 1rem;
    }
}
